CompileFlags:
  CompilationDatabase: build
  Add:
    - -I/home/cupsoft/Products/GEANT4/V11.1.3/include/Geant4
    - -I/scratch/cupsoft/Works/AMoRE/Muons/WCMD/WCMDSim/include
    - -I/scratch/cupsoft/Works/AMoRE/Muons/WCMD/WCMDSim/build
    - -I/home/cupsoft/Products/ROOT/V6.32.20_3.11.14/include
    - -std=c++17
Diagnostics:
  Suppress:
    - incomplete_member_access
